<!-- Timeline -->
  <section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "Recent Work" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
        </div>
      </div>
	  <div class="row">
		<div class="col-lg-8 mx-auto text-center">
		  <div class="large text-muted">{{ site.data.sitetext.about.text | markdownify }}</div>
			<p> Roundtable Presentation, “Picture This: Comics as a Pedagogical Tool to Support Multimodal Literacy and Historical Empathy.” Western History Association 60th Annual Conference. Albuquerque, New Mexico [held virtually due to COVID-19]: October 2020.

Educational Workshop, “Trauma-Informed Instruction in the Age of the Coronavirus: How Do We Foster Connection and Coping in Digital Spaces?.” Da Vinci Schools. El Segundo: April 2020. 

Book Review, Review of Emily C. Burn’s Transnational Frontiers: The American West in France. The Chronicles of Oklahoma. 97.3 (Fall 2019): 349-350.  

Discussion Questions for Kathleen Belew’s Bring the War Home.” Bring the War Home: The White Power Movement and Paramilitary America, Harvard University Press, 2019. 

Panel Session, “Locked Up: The Hidden History of LA’s Role in the Rise of the Carceral State.” Western History Association 59th Annual Conference. Las Vegas, NV: October 2019.

Interview, “American Studies Graduate Student Awarded for Unique Lesson Plan,” Seaver College Newsroom, 2019

Paper Session, “Suicide and Neoliberalism: An Imminent Critique of Cognitive-Behavioral Therapy.” Seaver College Research and Scholarly Symposium. Pepperdine University, Malibu: March 2019.

Workshop, “Fostering Goal Setting and Self-Reflection in the Classroom.” Da Vinci Schools. El Segundo: January 2019. 

Workshop, “Using Technology to Give More Specific, Effective Student Feedback.” Da Vinci Schools. El Segundo: January 2018.

Interview Contribution, “A Learner-Centered Culture Includes Educators, Too,” Next Generation Learning Challenge (NGLC), 2017

Blog Post, Moving Writers, “Video Essays for More Authentic Literary Analysis.” Moving Writers. December 5, 2016. </p>
		</div>
	  </div>
    </div>
  </section>
<!-- End About -->
